{% extends "base.html" %}

{% block content %}


<body>
    <section class="hero">
      <div class="hero-box">

      <div class="h-left">
        <h2>Hi {{ current_user.username }}!</h2>
         <h2>
            Find the Right Help. <br> Become the Right Help.
          </h2>

          <p>
            Whether you want to learn a new skill or share your expertise, CampusSkill connects you with the right peers
            in your campus.
          </p>

        </div>
        <!-- Right Side -->

        <div class="h-right">
        <img src="{{url_for('static',filename='images/image.png')}}" alt="hero illustration">

        </div>
      </div>
</section>
<section style="padding: 40px 10%;">
  <h2 style="margin-bottom: 30px; font-size: 32px;">Available Slots</h2>
  
  <div class="search" style="max-width: 900px; margin-bottom: 40px;">          
    <form method="GET" action="{{ url_for('home') }}">
      <input type="text" name="subject" placeholder="Search subject">
      <input type="text" name="name" placeholder="Tutor name">
      <input type="date" name="date">
      <input type="time" name="time">
      <button type="submit">Search</button>
    </form>
  </div>




<div class="slots-container">
    {% for slot in slots %}

        <div class="slot-card">

            <!-- CLICKABLE TITLE FOR CREATOR -->
            {% if current_user.is_authenticated and slot.user_id == current_user.id %}
                <a href="{{ url_for('slot_detail', slot_id=slot.id) }}" style="text-decoration: none; color: inherit;">
                    <h3>{{ slot.name }}</h3>
                </a>
            {% else %}
                <h3>{{ slot.name }}</h3>
            {% endif %}

            <p><b>Subject:</b> {{ slot.subject }}</p>
            <p><b>Time:</b> {{ slot.time }}</p>
            <p><b>Date:</b> {{ slot.date }}</p>
            <p><b>Seats:</b> {{ slot.seats }}</p>

            <!-- JOIN BUTTON -->
            {% if current_user.is_authenticated and slot.user_id != current_user.id %}
                <a href="{{ url_for('join_slot', slot_id=slot.id) }}" class="join-btn">
                    Join
                </a>
            {% endif %}

            <!-- CREATOR ACTIONS -->
            {% if current_user.is_authenticated and slot.user_id == current_user.id %}
                
                <!-- VIEW ATTENDEES BUTTON -->
                <a href="{{ url_for('slot_detail', slot_id=slot.id) }}" class="logout-btn">
                    View Attendees
                </a><br>

                <!-- DELETE BUTTON -->
                <form action="{{ url_for('delete_slot', slot_id=slot.id) }}" method="POST">
                    <button type="submit" class="join-btn">Delete</button>
                </form>

            {% endif %}

        </div>

    {% endfor %}
</div>
</div>
</section>
</body>




{% endblock %}

