{% extends "base.html" %}
{% block content %}

<div style="max-width:900px; margin:auto; padding:30px;">

  <h2 style="margin-bottom:20px;">All Users</h2>

  {% for user in users %}

  <div class="slot-card" style="
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:18px;
      margin-bottom:12px;
      border-radius:14px;
      width: 280px;

  ">

    <!-- LEFT SIDE -->
    <div style="display:flex; align-items:center; gap:15px;">

      <!-- PROFILE PICTURE -->
      <img src="{{ url_for('static', filename='images/' + user.profile_pic) }}" id="profile-pic">

      <!-- USER INFO -->
      <div>

        <h3 style="margin:0;">{{ user.username }}</h3>

        <p style="margin:5px 0; color:gray;">
          📘 {{ user.stream }} <br> 🎓 Sem {{ user.semester }}
        </p>

        <p style="margin:0; font-size:13px; color:#666;">
          {{ user.bio if user.bio else "No bio added yet" }}
        </p>
        <br>
      </div>

    </div>

    <!-- RIGHT SIDE BUTTONS -->
    <div style="display:flex; flex-direction:column; gap:8px; align-items:flex-end;">

      <!-- VIEW PROFILE -->
      <a href="{{ url_for('user_profile', user_id=user.id) }}"
         class="join-btn">
        👤 View Profile
      </a>

      <!-- MESSAGE -->
      {% if user.id != current_user.id %}
      <a href="{{ url_for('chat', user_id=user.id) }}"
         class="join-btn"
         style="background:#4a90e2;">
        💬 Message
      </a>
      {% endif %}

    </div>

  </div>

  {% endfor %}

</div>

{% endblock %}